.edit-article {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input {
    input {
      padding: 5px 10px;
    }
  }

  &__back-button {
    margin-bottom: 15px;
  }
}