<div class="canvas">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="canvas__content">
                    <div class="canvas__content__title">
                        <h2>Canvas</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>