// Pages
@use 'pages/register' as *;
@use 'pages/login' as *;
@use 'pages/profile' as *;
@use 'pages/forum' as *;
@use 'pages/admin' as *;
@use 'pages/pagebuilder' as *;
@use 'pages/edit-articles' as *;
@use 'pages/edit-article' as *;

// Tiles
@use 'tiles/new-article' as *;
@use 'tiles/new-page' as *;
@use 'tiles/new-tile' as *;
@use 'tiles/billboard' as *;

// Components
@use 'components/header' as *;
@use 'components/footer' as *;
@use 'components/alert' as *;
@use 'components/buttons' as *;
@use 'shared' as *;

// Node modules
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-utilities';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/badge';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~unpoly/unpoly';
@import '~froala-editor/css/froala_editor';
@import '~froala-editor/css/froala_editor.pkgd';
@import '~froala-editor/css/plugins.pkgd';
@import '~froala-editor/css/themes/gray';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  min-width: 300px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: -2;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: #000000;

  &:hover {
    color: #000000;
  }
}

main {
  flex: 1;
}

.tile-content {
}