// Pages
@use '~@pages/Register/register' as *;
@use '~@pages/Login/login' as *;
@use '~@pages/Profile/profile' as *;
@use '~@pages/Forum/forum' as *;
@use '~@pages/Admin/admin' as *;
@use '~@pages/PageBuilder/pagebuilder' as *;
@use '~@pages/Admin/EditArticles/editarticles' as *;
@use '~@pages/Admin/EditArticle/editarticle' as *;
@use '~@pages/Home/home' as *;

// Tiles
@use '~@tiles/Articles/New/newarticle' as *;
@use '~@tiles/Tools/NewPage/newpage' as *;
@use '~@tiles/Tools/NewTile/newtile' as *;
@use '~@tiles/Billboards/Single/billboard' as *;

// Components
@use '~@assets/scss/components/header' as *;
@use '~@assets/scss/components/footer' as *;
@use '~@assets/scss/components/alert' as *;
@use '~@assets/scss/components/buttons' as *;
@use '~@assets/scss/shared' as *;

// Node modules
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-utilities';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/badge';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~froala-editor/css/froala_editor';
@import '~froala-editor/css/froala_editor.pkgd';
@import '~froala-editor/css/plugins.pkgd';
@import '~froala-editor/css/themes/gray';
@import '~plyr/dist/plyr.css';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  min-width: 300px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: -2;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: #000000;

  &:hover {
    color: #000000;
  }
}

main {
  flex: 1;
}

.tile-content {
}