<div class="container new-page">
    <div class="row">
        <div class="col">

            <div class="new-page__form">

                <h4>New page</h4>

                <div class="new-page__form-input">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name">
                </div>

                <div class="new-page__form-input">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Title">
                </div>

                <div class="new-page__form-input">
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" class="form-control"
                           placeholder="Description">
                </div>

                <div class="new-page__form-input">
                    <label for="icon">Icon</label>
                    <input type="text" id="icon" name="icon" class="form-control" placeholder="Icon">
                </div>

                <div class="new-page__form-input">
                    <label for="url">URL Slug</label>
                    <input type="text" id="url" name="url" class="form-control" placeholder="URL Slug">
                </div>

                <div class="new-page__form-input">
                    <label for="title">Template</label>
                    <input type="text" id="template" name="template" class="form-control" placeholder="Template">
                </div>

                <div class="new-page__form-input">
                    <label for="class">Class</label>
                    <input type="text" id="class" name="class" class="form-control" placeholder="Class">
                </div>

                <div class="new-page__form-input">
                    <label for="navigation">Navigation</label>
                    <input type="checkbox" id="navigation" name="navigation" class="form-control"
                           placeholder="Navigation">
                </div>

                <div class="new-page__form-input">
                    <label for="requires-login">Requires login</label>
                    <input type="checkbox" id="requires-login" name="requires-login" class="form-control"
                           placeholder="Requires login?">
                </div>

                <div class="new-page__form-input">
                    <input type="submit" id="submit" value="Add page">
                </div>

            </div>

        </div>
    </div>
</div>