<footer>
    <div class="container">
        <div class="row">
            <div class="col footer__copyright">
                <p>BjerckeCMS © {{ site.getYear }}</p>
            </div>
        </div>
    </div>
</footer>