@use '~@assets/scss/variables' as *;

.new-article {
  margin: 1em 0;

  &__form {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  &__title {
    font-size: 1.2em;
    font-weight: bold;
  }

  &__input {
    input {
      padding: 5px;
      min-width: 300px;
    }

    input[type="checkbox"] {
      min-width: auto;
    }
  }

  &__submit {
    background: $btn-bg-color;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
  }
}