<article class="new-article">
    <div class="container">
        <div class="row">
            <div class="new-article__title">{{ site.getString(32) }}</div>
            <div class="new-article__form">
                <div class="new-article__input">
                    <label for="title">
                        <input type="text" id="title" name="title" placeholder="{{ site.getString(14) }}">
                    </label>
                </div>
                <div class="new-article__input">
                    <label for="content">
                        <textarea id="content" name="content"></textarea>
                    </label>
                </div>
                <div class="new-article__input">
                    <label for="background-image-checkbox">
                        <input type="checkbox" id="background-image-checkbox" name="background-image-checkbox">
                        <span>{{ site.getString(31) }}</span>
                    </label>
                </div>
                <div class="new-article__input">
                    <label for="background-image">
                        <input id="background-image" name="background-image" type="file">
                    </label>
                </div>
                <div class="new-article__input">
                    <button class="new-article__submit" id="submit">{{ site.getString(12) }}</button>
                </div>
            </div>
        </div>
    </div>
</article>