@mixin draggable-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  background: rgb(255, 255, 255);
  border: 3px dotted rgba(40, 40, 40);
  color: #000000;
  cursor: move;
}