{% extends "@grid/page.html.twig" %}
{% set css = "admin" %}

{% block maincontent %}

    <div class="admin__navigation">
        <div class="admin__navigation-content">
            <div class="admin__navigation-items">
                <a href="editarticles" class="admin__navigation-item">
                    <i class="bi bi-card-list"></i> {{ site.getString(33) }}
                </a>
                <a href="edittiles" class="admin__navigation-item">
                    <i class="bi bi-card-list"></i> {{ site.getString(34) }}
                </a>
            </div>
        </div>
    </div>

    <div class="admin__content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ site.getString(38) }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ site.getString('navigate_with_left_menu') }}</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="admin__tile-container"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}