@use '~@assets/scss/variables' as var;

.billboard {
  &__wrapper {
    position: relative;
    width: 100%;
    max-height: 225px;

    figure {
      max-height: inherit;

      img {
        width: 100%;
        max-height: inherit;
        object-fit: cover;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
        }
      }
    }

    @media screen and (max-width: var.$breakpoint-md) {
      max-height: 175px;
    }

    @media screen and (max-width: var.$breakpoint-sm) {
      max-height: 125px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;
      gap: 30px;
    }

    &-bubble {
      &-wrapper {
        position: relative;
        width: 170px;
        height: 170px;
      }

      position: absolute;
      top: 52px;
      left: 0;
      background: url('~@assets/img/billboard/marius-profile.jpg') no-repeat center center;
      background-size: cover;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      box-shadow: 1px 1px 1px 1px black;

      @media screen and (max-width: var.$breakpoint-lg) {
        &-wrapper {
          width: 140px;
          height: 140px;
        }

        top: 43px;
      }

      @media screen and (max-width: var.$breakpoint-md) {
        &-wrapper {
          width: 110px;
          height: 110px;
        }

        top: 52px;
      }
    }

    &-info-box {
      position: relative;
      background: rgba(0, 0, 0, .75);
      border-radius: 1em 1em 0 0;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      p {
        margin: 0;
        color: #ffffff;
      }

      h2 {
        color: var.$bjercke-orange;

        &:after {
          content: "";
          width: 16px;
          height: 4px;
          background: var.$bjercke-orange;
          transform: translate(2px, 1px);
          opacity: 0;
          display: inline-block;
          animation: blink 1s linear infinite alternate;
        }

        @keyframes blink {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }
  }
}