<div class="container billboard__single-image">
    <div class="row">
        <div class="col">
            <h2>{{ article.getTitle }}</h2>
            <p>{{ article.getContent|raw }}</p>
        </div>
    </div>
</div>